@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@400;500;600&family=Mulish:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap");
@import "./partials/variables.css";
@import "./partials/layout.css";
@import "./partials/home.css";
@import "./partials/explore.css";
@import "./partials/exhibition-spaces.css";
@import "./partials/events-exhibitions.css";
@import "./partials/visit.css";
@import "./partials/get-involved.css";
@import "./partials/contact-us.css";

/* media queries always go at the end dont add anything below this */
@import "./partials/media-queries.css";
