.contact--hero-banner {
  background-image: url("../../img/contact-us-hero-banner-3.jpg");
  background-size: cover;
  background-position: center center;
  max-width: 100%;
  height: 700px;
  position: relative;
}

.contact--banner {
  position: absolute;
  margin-top: -75px;
  right: 0;
  width: 88%;
  background-color: var(--neon-blue);
  height: 75px;
  display: flex;
  align-items: center;
}

.contact--content--wrapper {
  background-color: var(--cultured);
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.contact--content {
  max-width: 1140px;
  width: 100%;
  margin-bottom: 50px;
}

.contact--content__title {
  max-width: 1140px;
  margin: var(--margin-section-wrappers);
}

/* grid container */
.contact--grid-wrapper {
  display: grid;
  grid-template-areas: "blog side-bar";
  grid-gap: var(--gap-columns);
  grid-template-columns: 2fr 1fr;
  max-width: 1140px;
}

.contact--blog {
  grid-area: blog;
}

.contacts-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 15px 0;
}

.contacts-number,
.contacts-email {
  padding: 15px 30px;
  background-color: var(--white);
  font-weight: 700;
  text-align: center;
}

.contacts-or {
  font-weight: 600;
}

.contacts-email {
  width: 395px;
}

.contact-text {
  margin: 15px 0;
}

/* side-bar */

.contact--side-bar {
  grid-area: side-bar;
}

.contact--side-bar__booking {
  background-color: var(--black);
  color: var(--white);
  padding: 30px;
  margin-bottom: 30px;
}

.booking-heading {
  font-weight: 700;
  font-size: var(--font-medium);
}

.contact--side-bar__book-btn {
  margin-top: 15px;
}

.book-contact-btn:hover {
  background-color: var(--white);
  color: var(--black);
}

/* contact form */
.contact-form-wrapper {
  max-width: 100%;
  background-color: var(--white);
  padding: 30px;
  border-radius: 2px;
}

.contact-form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-grouping-username {
  width: calc((100% - 30px) / 2);
  margin-bottom: 30px;
}

.form-grouping-userinfo {
  width: 100%;
  margin-bottom: 30px;
}

.fname,
.lname,
.email,
.comment,
.form-submit {
  padding: 7px;
  display: block;
  width: 100%;
  margin-top: 10px;
}

.comment {
  display: inline-block;
}

.form-text {
  font-size: var(--font-smaller);
}

.form-submit {
  background-color: var(--neon-blue);
  color: var(--white);
  border: none;
  padding: 15px 30px;
  font-weight: 700;
}

.form-submit:hover {
  background-color: var(--black);
  /* color: var(--black); */
}
