.exhibition-spaces--hero-banner {
  background-image: url("../../img/exhibition-spaces-3.jpg");
  background-size: cover;
  background-position: center center;
  max-width: 100%;
  height: 700px;
  position: relative;
}

.exhibition-spaces--banner {
  position: absolute;
  margin-top: -75px;
  right: 0;
  width: 88%;
  background-color: var(--neon-blue);
  height: 75px;
  display: flex;
  align-items: center;
}

.exhibition-spaces--content--wrapper {
  background-color: var(--cultured);
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.exhibition-spaces--content {
  max-width: 1140px;
  width: 100%;
  margin-bottom: 50px;
}

.exhibition-spaces--content__title {
  max-width: 1140px;
  margin: var(--margin-section-wrappers);
}

/* grid container */

.exhibition-spaces--spaces-wrapper {
  display: grid;
  grid-template-areas:
    "cosmology evolution"
    "biology-medicine robotics-ai"
    "ecology related-pages";
  grid-gap: var(--gap-columns);
  grid-template-columns: 1fr 1fr;
  max-width: 1140px;
}

.exhibition-spaces--cosmology {
  grid-area: cosmology;
}

.exhibition-spaces--evolution {
  grid-area: evolution;
}

.exhibition-spaces--biology-medicine {
  grid-area: biology-medicine;
}

.exhibition-spaces--robotics-ai {
  grid-area: robotics-ai;
}

.exhibition-spaces--ecology {
  grid-area: ecology;
}

.exhibition-spaces--related-pages {
  grid-area: related-pages;
}

.exhibition-spaces--cosmology,
.exhibition-spaces--evolution,
.exhibition-spaces--biology-medicine,
.exhibition-spaces--robotics-ai,
.exhibition-spaces--ecology,
.exhibition-spaces--related-pages {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
}

.exhibition-spaces--content-images {
  max-width: 100%;
}

.exhibition-spaces--content__category {
  padding: var(--padding-category-banners);
  text-align: center;
  background-color: var(--black);
  color: var(--white);
  width: 100%;
  font-weight: 700;
}

.exhibition-spaces--content__text-wrapper {
  margin: var(--margin-p-text-wrapper);
}

.exhibition-spaces--content__text {
  margin-bottom: var(--margin-bottom-p-text);
}

.exhibition-spaces--related-pages {
  padding: 30px;
}
