.explore--hero-banner {
  background-image: url("../../img/science-boy-binoculars.jpg");
  background-size: cover;
  background-position: center center;
  max-width: 100%;
  height: 700px;
  position: relative;
}

.explore--banner {
  position: absolute;
  margin-top: -75px;
  right: 0;
  width: 88%;
  background-color: var(--cyber-yellow);
  height: 75px;
  display: flex;
  align-items: center;
}

.explore--content--wrapper {
  background-color: var(--cultured);
  /* width: 59.5%; */
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.explore--content {
  max-width: 1140px;
  margin-bottom: 50px;
}

.explore--content__intro {
  width: 100%;
  margin: var(--margin-section-wrappers);
  /* line-height: 1.25rem; */
}

.explore--content__for-kids--content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-grow: 1;
  gap: var(--gap-columns);
  width: 100%;
}

.explore--content__for-kids__col {
  background-color: var(--white);
  width: 33%;
}

.explore-for-kids-images {
  width: 100%;
  display: block;
}

.explore-for-kids--text-wrapper {
  margin: var(--margin-content-text);
}

.explore-for-kids--text {
  margin-top: var(--margin-top-content-text);
}

.explore-for-kids--book-now {
  text-align: center;
}

.explore--content__for-teachers,
.explore--content__for-researchers {
  margin-top: 50px;
}

.explore--content__for-teachers--content-wrapper,
.explore--content__for-researchers--content-wrapper {
  width: 100%;
}

.explore-content__for-teachers--col,
.explore-content__for-researchers--col {
  max-width: 100%;
  height: auto;
  background-color: var(--white);
}

.explore-for-teachers-image,
.explore-for-researchers-image {
  max-width: 100%;
}

.explore--for-teachers--text-wrapper,
.explore--for-researchers--text-wrapper {
  margin-top: 30px;
}

.explore--for-teachers-text,
.explore--for-researchers-text {
  padding: 0 30px 30px 30px;
}
