.home--main {
  /* position: relative; */
  display: block;
  width: 100%;
}

.home--hero-banner {
  background-image: url("../../img/museum-hero-banner.jpg");
  background-size: cover;
  background-position: center center;
  /* border: solid 1px hotpink; */
  max-width: 100%;
  height: 700px;
}

.home--hero-banner__text {
  max-width: 1140px;
  margin-top: -75px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  display: flex;
  justify-items: center;
  flex-direction: column;
  /* border: solid 1px blue; */
  background-color: var(--white);
  position: relative;
}

.home--hero-banner__text--address {
  text-align: right;
  font-size: var(--font-large);
}

.home--hero-banner__button {
  width: 250px;
  margin: 0 auto;
  margin-top: 30px;
  background-color: var(--neon-blue);
  padding: 15px 30px;
  border: none;
  font-family: var(--main-font);
  font-size: var(--font-medium-large);
  font-weight: 600;
  color: var(--white);
}

.home--content {
  height: 1000px;
  background-color: var(--cultured);
}
