.home--main {
  position: relative;
}

.home--hero-banner {
  background-image: url("../../img/science-museum-hero-banner-v1.jpg");
  background-size: cover;
  background-position: center center;
  /* border: solid 1px hotpink; */
  max-width: 100%;
  height: 600px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: var(--white);
}

.home--hero-banner-heading {
  margin-right: 100px;
}

.home--location-banner {
  height: 400px;
  background-color: var(--black);
}

.home--blog {
  height: 800px;
  background-color: var(--cultured);
}
.home--info-banner {
  background: rgb(97, 97, 255);
  background: linear-gradient(
    90deg,
    rgba(97, 97, 255, 1) 0%,
    rgba(2, 0, 36, 1) 84%,
    rgba(2, 0, 36, 1) 100%
  );
  height: 300px;
  display: flex;
  justify-content: space-around;
}
