.home--main {
  /* position: relative; */
  display: block;
  width: 100%;
}

.home--hero-banner {
  background-image: url("../../img/museum-hero-banner.jpg");
  background-size: cover;
  background-position: center center;
  /* border: solid 1px hotpink; */
  max-width: 100%;
  height: 700px;
}

.home--hero-banner__text {
  max-width: 1140px;
  margin-top: -75px;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
  display: flex;
  justify-items: center;
  flex-direction: column;
  /* border: solid 1px blue; */
  background-color: var(--white);
  position: relative;
  line-height: 1.5;
}

.home--hero-banner__text--address {
  text-align: right;
  font-size: var(--font-large);
  margin-top: 5px;
}

.home--hero-banner__button {
  width: 250px;
  margin: 0 auto;
  margin-top: 30px;
  background-color: var(--neon-blue);
  padding: 15px 30px;
  border: none;
  font-family: var(--main-font);
  font-size: var(--font-medium-large);
  font-weight: 600;
  color: var(--white);
}

.home--hero-banner__text--intro {
  margin-top: 15px;
}

.home--content {
  height: 100%;
  background-color: var(--cultured);
  display: flex;
  justify-content: center;
}

.home--content__visit {
  margin: 50px 0 50px 0;

  width: 1140px;
}

.home--content__visit--heading-banner {
  background-color: var(--cyber-yellow);
  padding: 30px;
}

/* grid visit container */

.home--content__visit--content {
  display: grid;
  grid-template-areas:
    "event1 event2"
    "event3 event4";
  grid-gap: 1.875rem;
  width: 100%;
  grid-template-columns: minmax(48%, 1fr) minmax(48%, 1fr);
  justify-items: space-between;
}

.home--content__visit--content__1 {
  grid-area: event1;
  display: flex;
  flex-direction: column;
}

.home--content__visit--content__2 {
  grid-area: event2;
  display: flex;
  flex-direction: column;
}

.home--content__visit--content__3 {
  grid-area: event3;
  display: flex;
  flex-direction: column;
}

.home--content__visit--content__4 {
  grid-area: event4;
  display: flex;
  flex-direction: column;
}

.home--content__visit--content__images {
  max-width: 100%;
  max-height: 100%;
}

.home--content__visit--content__category {
  padding: 15px;
  text-align: center;
  background-color: var(--black);
  color: var(--white);
  width: 100%;
  font-weight: 700;
}

.home--content__visit--content__heading {
  padding: 15px 0;
  font-weight: 700;
}

.home--content__visit--content__text {
  padding: 15px 0;
}
