/* 
fonts: 
mulish: font-family: 'Mulish', sans-serif;
ibm plex: font-family: 'IBM Plex Serif', serif;
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: var(--main-font);
  font-size: var(--font-regular);
  text-decoration: none;
  outline: none;
  list-style: none;
}

h1 {
  font-size: var(--font-xxxxlarge);
  font-weight: 700;
}

h2 {
  font-size: var(--font-medium-large);
  font-weight: 600;
}

h3 {
  font-size: var(--font-medium);
  font-weight: 700;
}

/* header */

header {
  width: 100%;
  background-color: var(--black);
}

.desktop-nav--wrapper {
  width: 100%;
  margin: 0 auto;
}

.desktop-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--black);
  width: 100%;
  color: var(--white);
}

.desktop-nav__menu {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 2rem;
  /* border: solid 1px yellow; */
}

.desktop-nav__searchbar {
  position: relative;
  /* border: solid 1px green; */
  padding: 10px 0px 10px 50px;
}

.desktop-nav__searchbar input {
  text-transform: uppercase;
  font-family: var(--main-font);
  font-size: var(--font-regular);
}

.desktop-nav__searchbar input[type="text"] {
  border: 0;
  padding: 0;
  width: 0;
  height: 35px;
  border-radius: 0;
  transition: 0.3x;
}

.desktop-nav__searchbar .searchbar-icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 100%;
  background: none;
  color: var(--white);
  transition: 0.5s;
}

.desktop-nav__searchbar .searchbar-icon i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  font-size: 35px;
}

.desktop-nav__searchbar .searchbar-icon.active {
  background: var(--black);
  transition: 0.3s;
}

.desktop-nav__searchbar input[type="text"].active {
  width: 220px;
  padding: 0 10px;
  transition: all 0.5s 0.2s ease;
}

.mobile-nav {
  display: none;
  width: 100%;
}

/* nav hover effect code by Artyom - check resource doc for credit link */
.menu-effect li {
  display: inline-block;
}

.menu-effect a {
  font-family: "mulish", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--white);
  margin: 0 15px;
  font-size: 16px;
  letter-spacing: 1px;
  position: relative;
  display: inline-block;
}
.menu-effect a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background: var(--cyber-yellow);
  /* top: 47%; */
  bottom: 0%;
  animation: out 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
}
.menu-effect a:hover:before {
  animation: in 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
}
@keyframes in {
  0% {
    width: 0;
    left: 0;
    right: auto;
  }
  100% {
    left: 0;
    right: auto;
    width: 100%;
  }
}
@keyframes out {
  0% {
    width: 100%;
    left: auto;
    right: 0;
  }
  100% {
    width: 0;
    left: auto;
    right: 0;
  }
}
@keyframes show {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@for $i from 1 through 5 {
  nav a:nth-child(#{$i}) {
    animation: show 0.2s #{$i * 0.1+1}s ease 1 both;
  }
}
/* banners */

.banner-heading-text {
  font-family: var(--roboto-font);
  font-size: var(--font-xlarge);
  font-weight: 700;
}

.banner-heading-text a {
  text-decoration: none;
  color: var(--black);
}

.banner-heading-text a:hover {
  border-bottom: solid 1px var(--black);
}

/* .banner-heading-text a:hover {
  text-decoration: underline;
} */

/* span font & other heading fonts  */
.bold-weight-font {
  font-weight: 700;
}

.light-weight-font {
  font-weight: 300;
}

.page-banner-headings {
  padding-left: 30px;
  font-weight: 800;
  font-size: var(--font-xlarge);
}

.light-gray-content-text {
  color: var(--light-gray-text);
}

.red-text {
  color: var(--red-text);
}

.italic-text {
  font-style: italic;
}

.bold {
  font-weight: 700;
}

.smaller-font {
  font-size: var(--font-small);
}

/* content texts and headings */

.content--p--text {
  padding-top: 15px;
}

.content--section-banner--headings {
  color: var(--white);
  font-size: var(--font-xlarge);
}

.content--black-banners {
  background-color: var(--black);
  padding: 25px 30px;
}

.content--heading {
  margin-top: 30px;
  font-size: var(--font-medium-large);
  font-weight: 700;
}

/* links */
.content-link {
  font-weight: 700;
  color: var(--black);
  text-decoration: none;
  border-bottom: solid 1px var(--black);
}

.content-link:hover {
  border-bottom: solid 1px var(--cyber-yellow);
}

/* margins */
.margin-30 {
  margin-bottom: 30px;
}

/* related pages */
.related-pages-heading {
  font-family: var(--roboto-font);
  font-size: var(--font-medium-large);
  font-weight: 700;
}

.related-pages-links-wrapper {
  margin-top: 30px;
}

.related-pages-link {
  background-color: var(--cultured);
  padding: 15px 0;
  text-align: center;
  display: block;
  text-decoration: none;
  color: var(--black);
  font-family: var(--roboto-font);
  font-size: var(--font-regular);
  font-weight: 700;
  transition-duration: 0.2s;
}

.related-pages-link:hover {
  /* border-bottom: solid 1px var(--black); */
  background-color: var(--cyber-yellow);
}

/* buttons */
.book-now-btn {
  font-family: var(--roboto-font);
  font-size: var(--font-regular);
  font-weight: 700;
  background-color: var(--black);
  color: var(--white);
  padding: 15px;
  width: 70%;
  margin: 0 auto;
  transition-duration: 0.2s;
  border: none;
  z-index: 2;
}

.book-now-btn:hover {
  background-color: var(--cyber-yellow);
  color: var(--black);
}

.book-visit-btn {
  font-family: var(--roboto-font);
  font-size: var(--font-regular);
  font-weight: 700;
  background-color: var(--cyber-yellow);
  color: var(--black);
  padding: 15px 30px;
  width: 100%;
  transition-duration: 0.2s;
  border: none;
}

.book-visit-btn:hover {
  background-color: var(--black);
  color: var(--white);
}

/* social media - back to top links */

.media-back-to-top-full-width {
  padding: 30px 0;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: var(--cultured);
}

.media-back-to-top {
  margin: 0 auto;
  max-width: 1140px;
  display: flex;
  justify-content: space-between;
}

.media-back-to-top a {
  color: var(--black);
  text-decoration: none;
}

.media-back-to-top a:hover {
  border-bottom: solid 1px var(--black);
}

.share-this-page-icons,
.back-to-top-icon {
  display: inline;
  font-size: var(--font-medium-large);
  padding-left: 5px;
}

/* footer */

.footer-wrapper {
  background-color: var(--black);
}

.footer {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  max-width: 1140px;
  padding: 30px 15px 30px 15px;
  line-height: 1.5;
  color: var(--white);
  /* font-weight: 600; */
}

.footer a {
  color: var(--white);
  text-decoration: none;
  position: relative;
}

.footer a:hover {
  border-bottom: solid 1px var(--cyber-yellow);
}

.footer ul {
  list-style: none;
}

.footer__social-media {
  text-align: center;
}

.footer__sub {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  max-width: 1140px;
  padding: 15px;
}

.footer__sub--links a {
  text-decoration: none;
  color: var(--black);
}

.footer__sub--links li {
  display: inline-block;
}

/* footer icons */

.fa-caret-right {
  color: var(--cyber-yellow);
}

.footer__social-media--icons {
  font-size: var(--font-xxxlarge);
  color: var(--cyber-yellow);
}
