/* mobile version */

@media only screen and (max-width: 767px) {
  .desktop-nav {
    display: none;
  }

  .desktop-nav__searchbar {
    display: none;
  }

  .mobile-nav {
    display: block;
    overflow: hidden;
    background-color: var(--black);
    position: relative;
    font-weight: 500;
  }

  .mobile-nav #mobileLinks {
    display: none;
  }

  .mobile-links-hover a {
    color: var(--white);
    padding: 14px 15px;
    text-decoration: none;
    font-size: var(--font-regular);
    display: block;
    /* border-bottom: solid 1px var(--white); */
  }

  .mobile-nav a.icon {
    background: var(--black);
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    color: var(--white);
    padding: 14px 15px;
    text-decoration: none;
    font-size: var(--font-regular);
  }

  /* .mobile-nav a:hover {
    background-color: var(--cyber-yellow);
    color: var(--black);
  } */

  .active {
    background-color: var(--black);
    color: var(--white);
    padding-left: 7px;
  }

  .mobile-links-hover a {
    border-bottom: solid 1px var(--white);
  }

  .mobile-links-hover a:hover {
    border-bottom: solid 1px var(--cyber-yellow);
  }

  .mobile-nav__searchbar input {
    color: var(--white);
  }

  .mobile-nav__searchbar input[type="text"] {
    width: 100%;
    padding: 14px 15px;
    background-color: var(--light-black);
    border: none;
    color: var(--white);
    text-transform: uppercase;
    font-family: var(--main-font);
    font-size: var(--font-regular);
  }

  /* HOME VISIT CONTENT */
  .home--content__visit--content {
    display: grid;
    grid-template-areas:
      "event1"
      "event2"
      "event3"
      "event4";
    grid-template-columns: 100%;
  }

  .home--content__visit--content__heading {
    padding: 15px;
  }

  .home--content__visit--content__text {
    padding: 15px;
  }

  /* HOME SUB CONTENT CONTRIBUTE SECTION */
  .home--sub-content__contribute--wrapper {
    display: block;
  }

  .contribute-images {
    width: 100%;
  }

  /* SHARE THIS PAGE - BADK TO TOP */

  .media-back-to-top {
    flex-direction: column;
    text-align: center;
  }

  .media-back-to-top__top-link {
    padding-top: 15px;
  }

  /* FOOTER */

  .footer {
    flex-direction: column;
  }

  .footer__sub {
    flex-direction: column;
  }

  .footer__social-media {
    padding-top: 15px;
  }

  .footer__sub--links {
    padding-top: 15px;
  }
}

/* tablet version */
