/* mobile version */

@media only screen and (max-width: 767px) {
  .desktop-nav {
    display: none;
  }

  .desktop-nav__searchbar {
    display: none;
  }

  .mobile-nav {
    display: block;
    overflow: hidden;
    background-color: var(--black);
    position: relative;
    font-weight: 500;
  }

  .mobile-nav #mobileLinks {
    display: none;
  }

  .mobile-links-hover a {
    color: var(--white);
    padding: 14px 15px;
    text-decoration: none;
    font-size: var(--font-regular);
    display: block;
    /* border-bottom: solid 1px var(--white); */
  }

  .mobile-nav a.icon {
    background: var(--black);
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    color: var(--white);
    padding: 14px 15px;
    text-decoration: none;
    font-size: var(--font-regular);
  }

  /* .mobile-nav a:hover {
    background-color: var(--cyber-yellow);
    color: var(--black);
  } */

  .active {
    background-color: var(--black);
    color: var(--white);
    padding-left: 7px;
  }

  .mobile-links-hover a {
    border-bottom: solid 1px var(--white);
  }

  .mobile-links-hover a:hover {
    border-bottom: solid 1px var(--cyber-yellow);
  }

  .mobile-nav__searchbar input {
    color: var(--white);
  }

  .mobile-nav__searchbar input[type="text"] {
    width: 100%;
    padding: 14px 15px;
    background-color: var(--light-black);
    border: none;
    color: var(--white);
    text-transform: uppercase;
    font-family: var(--main-font);
    font-size: var(--font-regular);
  }

  /* HOME VISIT CONTENT */
  .home--hero-banner__text {
    padding: 30px;
  }

  .home--content__visit--content {
    display: grid;
    grid-template-areas:
      "event1"
      "event2"
      "event3"
      "event4";
    grid-template-columns: 100%;
  }

  .home--content__visit--text-wrapper {
    padding: 0 30px 0 30px;
  }

  /* HOME SUB CONTENT CONTRIBUTE SECTION */
  .home--sub-content__contribute--wrapper {
    display: block;
  }

  .contribute-images {
    width: 100%;
  }

  /* EXPLORE PAGE */
  .explore--content__intro {
    padding: 0 30px 0 30px;
  }

  .explore--content__for-kids--content-wrapper {
    flex-direction: column;
  }

  .explore--content__for-kids__col {
    width: 100%;
  }

  .explore--content__grid-wrapper {
    grid-template-areas:
      "researchers"
      "related-pages";
    grid-template-columns: 100%;
  }

  /* EXHIBITION SPACES PAGE */
  .exhibition-spaces--spaces-wrapper {
    grid-template-areas:
      "cosmology"
      "evolution"
      "biology-medicine"
      "robotics-ai"
      "ecology"
      "related-pages";
    grid-template-columns: 1fr;
  }

  .exhibition-spaces--content__title {
    padding-left: 15px;
  }

  /* EVENTS - EXHIBITIONS PAGE */
  .events-exhibitions--grid-wrapper {
    grid-template-areas:
      "museum-admission"
      "visiting-professor"
      "night-in-museum"
      "energetica"
      "blank"
      "related-pages";
    grid-template-columns: 100%;
  }

  .events-exhibitions--museum-admission:before {
    display: none;
  }

  .events-exhibitions--content__title {
    padding-left: 30px;
  }

  .events-exhibition-text-wrapper {
    padding: 0px 30px 0 30px;
  }

  /* VISIT PAGE */
  .visit--grid-wrapper {
    grid-template-areas:
      "blog"
      "side-bar";
    grid-template-columns: 100%;
  }

  /* GET INVOLVED PAGE */

  .get-involved--content__title {
    padding: 0 30px 0 30px;
  }

  .get-involved--content__support--text-wrapper {
    width: auto;
    padding: 15px 0;
  }

  .mobile-donation-related-pages {
    display: block;
  }

  .get-involved--side-bar {
    display: none;
  }

  /* CONTACT US PAGE */

  .contact--grid-wrapper {
    grid-template-areas:
      "blog"
      "side-bar";
    grid-template-columns: 100%;
  }

  .contacts-flex {
    flex-direction: column;
  }

  .contacts-or {
    padding: 15px;
  }

  .contacts-email {
    max-width: 95%;
  }

  /* SHARE THIS PAGE - BACK TO TOP */

  .media-back-to-top {
    flex-direction: column;
    text-align: center;
  }

  .media-back-to-top__top-link {
    padding-top: 15px;
  }

  /* FOOTER */

  .footer {
    flex-direction: column;
  }

  .footer__sub {
    flex-direction: column;
  }

  .footer__social-media {
    padding-top: 15px;
  }

  .footer__sub--links {
    padding-top: 15px;
  }
}

/* tablet version */

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .get-involved--content__support--text-wrapper {
    width: 55%;
  }

  .get-involved--side-bar {
    right: 0;
    top: 1090px;
  }
}

/* ipad pro */
@media only screen and (min-width: 834px) and (max-width: 1112px) {
  .get-involved--content__support--text-wrapper {
    width: 65%;
  }

  .get-involved--side-bar {
    right: 0;
    top: 1055px;
  }
}

/* ipad pro 12.9 - original with is 1024px but fixing it to 1113px */
@media only screen and (min-width: 1113px) and (max-width: 1366px) {
  .get-involved--content__support--text-wrapper {
    width: 65%;
  }

  .get-involved--side-bar {
    right: 10%;
  }
}

/* below ipad pro resolutions */
@media only screen and (max-width: 1113px) {
  .media-back-to-top-full-width {
    padding: 30px;
  }
}

.page-content-tiles {
  padding-left: 30px;
}

.visit--content,
.events-exhibitions--content,
.exhibition-spaces--content,
.explore--content__intro,
.contact--blog,
.contact--content__title {
  padding: 0 30px;
}

/* tablet & desktop version */

@media only screen and (min-width: 768px) {
  .mobile-donation-related-pages {
    display: none;
  }
}

/* for the get-involved side-bar on larger resolution */

@media only screen and (min-width: 1800px) {
  .get-involved--side-bar {
    right: 20%;
  }
}
