/* mobile version */

@media only screen and (max-width: 767px) {
  .desktop-nav {
    display: none;
  }

  .desktop-nav__searchbar {
    display: none;
  }

  .mobile-nav {
    display: block;
    overflow: hidden;
    background-color: var(--black);
    position: relative;
    font-weight: 500;
  }

  .mobile-nav #mobileLinks {
    display: none;
  }

  .mobile-links-hover a {
    color: var(--white);
    padding: 14px 15px;
    text-decoration: none;
    font-size: var(--font-regular);
    display: block;
    /* border-bottom: solid 1px var(--white); */
  }

  .mobile-nav a.icon {
    background: var(--black);
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    color: var(--white);
    padding: 14px 15px;
    text-decoration: none;
    font-size: var(--font-regular);
  }

  /* .mobile-nav a:hover {
    background-color: var(--cyber-yellow);
    color: var(--black);
  } */

  .active {
    background-color: var(--black);
    color: var(--white);
    padding-left: 7px;
  }

  .mobile-links-hover a {
    border-bottom: solid 1px var(--white);
  }

  .mobile-links-hover a:hover {
    border-bottom: solid 1px var(--cyber-yellow);
  }

  .mobile-nav__searchbar input {
    color: var(--white);
  }

  .mobile-nav__searchbar input[type="text"] {
    width: 100%;
    padding: 14px 15px;
    background-color: var(--light-black);
    border: none;
    color: var(--white);
    text-transform: uppercase;
    font-family: var(--main-font);
    font-size: var(--font-regular);
  }

  /* HOME VISIT CONTENT */
  .home--hero-banner__text {
    padding: 30px;
  }

  .home--content__visit--content {
    display: grid;
    grid-template-areas:
      "event1"
      "event2"
      "event3"
      "event4";
    grid-template-columns: 100%;
  }

  .home--content__visit--text-wrapper {
    padding: 0 30px 0 30px;
  }

  /* HOME SUB CONTENT CONTRIBUTE SECTION */
  .home--sub-content__contribute--wrapper {
    display: block;
  }

  .contribute-images {
    width: 100%;
  }

  /* EXPLORE PAGE */
  .explore--content__intro {
    padding: 0 30px 0 30px;
  }

  .explore--content__for-kids--content-wrapper {
    flex-direction: column;
  }

  .explore--content__for-kids__col {
    width: 100%;
  }

  /* EXHIBITION SPACES PAGE */
  .exhibition-spaces--spaces-wrapper {
    grid-template-areas:
      "cosmology"
      "evolution"
      "biology-medicine"
      "robotics-ai"
      "ecology"
      "related-pages";
    grid-template-columns: 1fr;
  }

  .exhibition-spaces--content__title {
    padding-left: 15px;
  }

  /* EVENTS - EXHIBITIONS PAGE */
  .events-exhibitions--grid-wrapper {
    grid-template-areas:
      "museum-admission"
      "visiting-professor"
      "night-in-museum"
      "energetica"
      "blank"
      "related-pages";
    grid-template-columns: 100%;
  }

  .events-exhibitions--museum-admission:before {
    display: none;
  }

  .events-exhibitions--content__title {
    padding-left: 30px;
  }

  .events-exhibition-text-wrapper {
    padding: 0px 30px 0 30px;
  }

  /* SHARE THIS PAGE - BACK TO TOP */

  .media-back-to-top {
    flex-direction: column;
    text-align: center;
  }

  .media-back-to-top__top-link {
    padding-top: 15px;
  }

  /* FOOTER */

  .footer {
    flex-direction: column;
  }

  .footer__sub {
    flex-direction: column;
  }

  .footer__social-media {
    padding-top: 15px;
  }

  .footer__sub--links {
    padding-top: 15px;
  }
}

/* tablet version */
