:root {
  --black: #000000;
  --neon-blue: #6161ff;
  --cyber-yellow: #ffd416;
  --medium-yellow: #ffe160;
  --light-yellow: #ffffe8;
  --white: #ffffff;
  --cultured: #f4f4f4;
  --light-gray: #f4f4ea;
  --dark-gray: #3d3d3d;
  --light-black: #222222;
  --light-gray-text: #808080;
  --red-text: #ff0000;

  --main-font: "Mulish", sans-serif;
  --heading-font: ;
  --ibm-font: "IBM Plex Serif", serif;
  --roboto-font: "Roboto", sans-serif;

  --font-small: 0.875rem;
  --font-regular: 1rem;
  --font-medium: 1.125rem;
  --font-medium-large: 1.25rem;
  --font-large: 1.375rem;
  --font-xlarge: 1.5rem;
  --font-xxlarge: 1.75rem;
  --font-xxxlarge: 1.875rem;
  --font-xxxxlarge: 2rem;

  --margin-content-text: 30px;
  --margin-top-content-text: 15px;
  --margin-p-text-wrapper: 30px 30px 15px 30px;
  --margin-bottom-p-text: 15px;
  --margin-top-section: 50px;
  --padding-category-banners: 15px;
  --padding-content-text: 30px;
  --padding-footer: 30px 0 30px 0;
  --padding-sub-footer: 15px 0 15px 0;
  --margin-section-wrappers: 50px 0 50px 0;
  --margin-top-contents-outro-link-banners: 30px;
  --gap-columns: 1.875rem;
}
