.visit--hero-banner {
  background-image: url("../../img/visit-hero-banner.jpg");
  background-size: cover;
  background-position: center center;
  max-width: 100%;
  height: 700px;
  position: relative;
}

.visit--banner {
  position: absolute;
  margin-top: -75px;
  right: 0;
  width: 88%;
  background-color: var(--neon-blue);
  height: 75px;
  display: flex;
  align-items: center;
}

.visit--content--wrapper {
  background-color: var(--cultured);
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.visit--content {
  max-width: 1140px;
  width: 100%;
  margin-bottom: 50px;
}

.visit--content__title {
  max-width: 1140px;
  margin: var(--margin-section-wrappers);
}

/* grid container */

.visit--grid-wrapper {
  display: grid;
  grid-template-areas: "blog side-bar";
  grid-gap: var(--gap-columns);
  grid-template-columns: 2fr 1fr;
  max-width: 1140px;
}

.visit--blog {
  grid-area: blog;
}

.visit--side-bar {
  grid-area: side-bar;
}

.google-maps {
  margin-top: 15px;
  max-width: 100%;
}

.book-visit-button {
  margin-top: 15px;
  display: flex;
  justify-content: flex-start;
}

.visit--side-bar__map {
  background-color: var(--black);
  color: var(--white);
  padding: 30px;
  margin-bottom: 30px;
}

.map-heading {
  font-weight: 700;
  font-size: var(--font-medium);
}

.map-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.download-map-btn {
  font-family: var(--roboto-font);
  font-size: var(--font-regular);
  font-weight: 700;
  background-color: var(--neon-blue);
  color: var(--white);
  padding: 15px 30px;
  transition-duration: 0.2s;
  border: none;
}

.download-map-btn:hover {
  background-color: var(--white);
  color: var(--black);
}

.visit--side-bar--related-pages {
  padding: 30px;
  background-color: var(--white);
}
