.visit--hero-banner {
  background-image: url("../../img/museum-hero-banner.jpg");
  background-size: cover;
  background-position: center center;
  max-width: 100%;
  height: 700px;
  position: relative;
}

.visit--banner {
  position: absolute;
  margin-top: -75px;
  right: 0;
  width: 88%;
  background-color: var(--neon-blue);
  height: 75px;
  display: flex;
  align-items: center;
}

.visit--content--wrapper {
  background-color: var(--cultured);
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.visit--content {
  max-width: 1140px;
  width: 100%;
  margin-bottom: 50px;
  border: solid 1px blue;
}

.visit--content__title {
  max-width: 1140px;
  margin: var(--margin-section-wrappers);
}

/* grid container */

.visit--grid-wrapper {
  display: grid;
  grid-template-areas: "blog side-bar";
  grid-gap: var(--gap-columns);
  grid-template-columns: 2fr 1fr;
  max-width: 1140px;
}

.visit--blog {
  grid-area: blog;
  border: solid 1px hotpink;
}

.visit--side-bar {
  grid-area: side-bar;
  border: solid 1px hotpink;
}

.google-maps {
  margin-top: 15px;
  max-width: 100%;
}

.book-visit-button {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}
